.inform{
    display: flex;
    background-color:#343944;
    flex-direction: column;
    max-width: 180px;
    width: 100%;
    margin-left: 20px;
    margin-top: 5px;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 20px;
    }