
  .avatar{
    position: relative;
    border: 3px solid #fff;
    border-radius: 5%;
    max-width: 185px;
    max-height: 185px;
    margin-left: 20px;
  }
  .header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:100vh;
  width: 100%;
  border-bottom: 7px solid #343944;
  }
  
  .nav{
    margin-left:40px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .nav div{
    padding-right: 25px;
  }
  .item a {
    text-decoration: none;
    color:white;
  }
  .item a:hover{
    color:gold;
  }
  .item a.active{
    color:gold;
  }